*.pyo
*.pyc
api/__pycache__
api/upload_home/*
api/appserver.log*
api/django_server.log*
api/.DS_Store
web/node_modules/
web/dist/
web/npm-debug.log*
web/yarn-debug.log*
web/yarn-error.log*
web/test/unit/coverage
web/test/e2e/reports
web/selenium-debug.log
web/.project
web/package-lock.json
*/.idea/
